.board{
    width: 640px; 
    height:640px;
    border-style: solid;
    border-width: 22px;
    border-color: #a11313;
}

.white{
background-color:   #774836; 
float: left;
width: 80px;
height:80px;
font-size:50px;
text-align:center;
display:table-cell;
vertical-align:middle;    
}


.brown{
color: #509b09;
background-color:   #D2C59B;
float: right;
width: 80px;
height:80px;
font-size:50px;
text-align:center;
display:table-cell;
vertical-align:middle;    
}






